body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.post-container {
    display: flex;
    max-width: 1200px;
    height: 80vh; /* Set the height relative to the viewport height */
    margin: 10vh auto; /* Vertically center the container with equal top and bottom margins */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.image-slider, .info-slider {
    width: 50%;
    overflow: hidden;
}

.image-slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
}

.info-slider {
    padding: 20px;
    background-color: #fff;
}

.slide, .info-slide {
    display: none;
    animation: fade 0.5s;
}

.slide img {
    width: 100%;
    height: auto;
}

.author-info {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
}

/* Default display for the first slide */
.slide:first-child, .info-slide:first-child {
    display: block;
}

.title-box, .info-box {
    background-color: #fff; /* 배경색 */
    border-radius: 10px; /* 둥근 모서리 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    padding: 20px; /* 내부 여백 */
    margin-bottom: 20px; /* 박스 간 간격 */
    text-align: center; /* 텍스트 중앙 정렬 */
}

.title-box h2, .title-box p {
    margin: 0; /* 기본 여백 제거 */
    padding: 10px 0; /* 위아래 여백 */
}

.info-box {
    text-align: left;
    height: 700px; /* 고정된 높이 설정 */
    overflow-y: auto; /* 세로 스크롤 활성화 */
    padding: 15px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .post-container {
        flex-direction: column;
        height: auto; /* Allow the container to grow as needed on smaller screens */
    }
    .image-slider, .info-slider {
        width: 100%;
    }
}