<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/listPage.css">
    <title>Project Posts List</title>
</head>
<body>
    <div class="content-container">
        <h1 class="smc-highlight">Project Posts</h1>
        <div class="search-container">
            <form action="/listPage" method="GET">
                <input type="text" name="search" placeholder="Search projects...">
                <button type="submit">Search</button>
            </form>
        </div>        
        <div class="posts-list">
            {% for i in post_list %}
            <!-- This part should be generated dynamically with server-side scripting -->
            <div class="post-item">
                <img src="../static/db_images/{{ i['project_image_name'].split(',')[0] }}" alt="Project Thumbnail" class="post-thumbnail">
                <div class="post-details">
                    <h2 class="post-title">{{ i['project_title'] }}</h2>
                    <p class="post-introduction">{{ i['project_OneLine_info'] }}</p>
                    <div class="post-meta">
                        <span>Posted on <time>{{ i['datetime'] }}</time></span>
                        <span>by {{ i['user_email'] }}</span>
                    </div>
                    <a href="/listPage/{{ i['project_post_id'] }}" class="read-more">Read More</a>
                </div>
            </div>
            <!-- Repeat for each post -->
            {% endfor %}
            <!-- Pagination Controls -->
        </div>
        <div class="pagination">
            {% for page_num in range(1, total_pages + 1) %}
            <a href="/listPage?page={{ page_num }}&search={{ request.args.get('search', '') }}" class="{{ 'active' if page_num == current_page else '' }}">{{ page_num }}</a>
            {% endfor %}
        </div>        
        <footer>
            Semyeong Computer High School @JungbeomLee
        </footer>
    </div>
</body>

