<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Detail Page</title>
    <link rel="stylesheet" href="../static/css/postShowPage.css">
</head>
<body>
    <div class="post-container">
        {% for i in post_list %}
        <div class="image-slider">
            <div class="slide">
                <img src="../static/db_images/{{ i['project_image_name'].split(',')[0] }}" alt="Image Description 1">
            </div>
            <div class="slide">
                <img src="../static/db_images/{{ i['project_image_name'].split(',')[0] }}" alt="Image Description 2">
            </div>
            <!-- More image slides here -->
        </div>
        <div class="info-slider">
            <div class="info-slide">
                <div class="title-box">
                    <h2>{{ i['project_title'] }}</h2>
                    <p>{{ i['project_OneLine_info'] }}</p>
                </div>
                <div class="info-box">
                    <div class="project-info">{{ i['project_info'] | safe }}</div>
                </div>
            </div>
        </div>            
        <div class="author-info">
            <p>Email: author@example.com</p>
            <p>Instagram: @authorhandle</p>
            <p>Project Link: <a href="http://projectlink.com">projectlink.com</a></p>
            <p>GitHub: <a href="http://github.com/author">github.com/author</a></p>
        </div>
        {% endfor %}
    </div>
    <script>
        // Simple JavaScript for Sliders
var slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("slide");
  var infoSlides = document.getElementsByClassName("info-slide");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < infoSlides.length; i++) {
      infoSlides[i].style.display = "none";
  }
  slides[slideIndex-1].style.display = "block";
  infoSlides[slideIndex-1].style.display = "block";
}
    </script>
</body>
</html>
