<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>UPLOAD PORJECT</h1>
    <form name="projectUploadForm">
        <input type="text" name="projectName">
        <input type="text" name="projectOneLineIntroduction">
        <input type="text" name="projectIntroduction">
        <input type="text" name="projectGithub">
        <input type="text" name="projectLink">
        <input type="file" accept="image/*">
    </form>
</body>
</html>